Gradio==4.16.0
reportlab==3.6.11
pandas==2.2.3
openpyxl==3.1.2
fpdf==1.7.2
fastapi==0.112.4
pydantic==2.10.6
ifcopenshell
alphashape
shapely
rtree
laspy
laszip
cloth-simulation-filter
pyvista
tqdm
scipy
scikit-learn
supervision
opencv-python
pycocotools
segment-geospatial
rasterio