alphashape==1.3.1
altgraph==0.17.3
asttokens==2.4.0
attrs==23.1.0
backcall==0.2.0
blinker==1.7.0
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
click-log==0.4.0
click-plugins==1.1.1
cligj==0.7.2
cloth-simulation-filter==1.1.4
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm==0.1.4
comtypes==1.3.1
contourpy==1.1.0
cycler==0.11.0
Cython==3.0.8
dash==2.16.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.8.0
decorator==5.1.1
descartes==1.1.0
durationpy==0.6
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==1.2.0
fastjsonschema==2.18.0
fiona==1.9.5
Flask==3.0.2
fonttools==4.42.1
fpdf==1.7.2
GDAL==3.7.2
geopandas==0.14.0
google-auth==2.23.0
grpcio==1.58.0
h5py==3.9.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.0.1
iniconfig==2.0.0
ipykernel==6.25.2
ipython==8.15.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.3
joblib==1.3.2
json5==0.9.14
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter_client==8.3.1
jupyter_core==5.3.1
jupyterlab-widgets==3.0.9
kiwisolver==1.4.5
laspy==2.5.3
littleutils==0.2.2
llvmlite==0.41.1
lorem==0.1.1
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.3
matplotlib-inline==0.1.6
mdurl==0.1.2
meshio==5.3.5
mpmath==1.2.1
nbformat==5.7.0
nest-asyncio==1.5.7
networkx==3.2.1
numba==0.58.1
numpy @ file:///D:/bld/numpy_1691056377689/work
nvidia-smi==0.1.3
open3d @ file:///F:/projects/Open3D/build/lib/python_package/pip_package/open3d-0.17.0%2Bb7f9f3ae6-cp39-cp39-win_amd64.whl#sha256=d324c1f12e0a051cd0c72069545e5a8d291c071a0c3a51548cc08b33467bc550
opencv-python==4.8.1.78
openpyxl==3.1.5
packaging==23.1
pandas @ file:///D:/bld/pandas_1693415295498/work
parso==0.8.3
pefile==2023.2.7
pickleshare==0.7.5
Pillow==10.0.0
plotly==5.20.0
pluggy==1.3.0
pooch==1.7.0
prompt-toolkit==3.0.39
psutil==5.9.5
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyautocad==0.2.0
pybind11==2.11.1
pybind11-global==2.11.1
pydeck==0.8.0
Pygments==2.16.1
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
PyOpenGL @ file:///C:/Program%20Files%20%28x86%29/ZED%20SDK/PyOpenGL-3.1.5-cp39-cp39-win_amd64.whl#sha256=4f6861cd8f7bd0d8b51fbd0afb10ce10102b79c620237480eaf638162bf40a1b
PyOpenGL-accelerate @ file:///C:/Program%20Files%20%28x86%29/ZED%20SDK/PyOpenGL_accelerate-3.1.5-cp39-cp39-win_amd64.whl#sha256=1b9b2ccb587d1fbe39cc2f0146674b80962daf5f49bac98e1eea89e672fff8ba
pyparsing==3.1.1
pyproj==3.6.1
pyransac3d==0.6.0
pyreadline==2.1
pytest==7.4.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1693930252784/work
pyvista==0.42.3
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
pyzed==1.3.0
pyzmq==24.0.1
referencing==0.30.2
requests==2.31.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.10.3
rsa==4.9
Rtree==1.3.0
scikit-learn==1.3.0
scipy==1.11.2
scooby==0.7.4
seaborn==0.12.2
Send2Trash==1.8.2
setuptools-scm==8.0.4
shapely==2.0.1
simplekml==1.3.6
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.0
sorcery==0.2.2
soupsieve==2.5
sspilib==0.1.0
stack-data==0.6.2
sympy==1.11.1
tenacity==8.2.3
threadpoolctl==3.2.0
tinycss2==1.2.1
tomli==2.0.1
toolz==0.12.0
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchvision==0.15.2+cu118
tornado==6.3.3
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
traitlets==5.10.0
trimesh==4.2.2
types-python-dateutil==2.8.19.14
typing_extensions==4.10.0
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
ujson==5.8.0
uri-template==1.3.0
urllib3==1.26.16
vtk==9.2.6
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug==3.0.1
widgetsnbextension==4.0.9
wrapt==1.15.0
y-py==0.6.2
zipp==3.16.2
